{{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
  {{ if eq .reply_to $.parentId }}
<div id="commentid-{{ ._id }}" class="post-comment-reply">
      {{ .name }} •<span class="comment-link">
  <a href="#commentid-{{ ._id }}" title="Link to this comment"> <small>{{ dateFormat "02/01/2006" .date }}</small></a>
  <br><i><small>In reply to {{ $.parentName }}</i></small>
      </span>

      <p> {{ .comment | markdownify }}</p>
      <button id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ $.parentId }}')">Reply to comment thread</button>
</div>
    {{ end }}
    {{ end }}
