{{ $slug := replace .RelPermalink "/" "" }}

{{/* Creating a slice holding your comments */}}
{{ $globalComments := slice }}

{{ $globalComments = index $.Site.Data.comments $slug }}


<!-- {{ $globalComments }} -->



{{/* Setting default to $pageComments */}}
{{ $pageComments := false }}

{{ with $globalComments }}
{{/* Storing their number in $pageComments */}}
{{ $pageComments = len . }}
{{/* Ranging on your comments */}}
{{ range . }}
{{ if not .reply_to }}
<blockquote>
          <p>{{ .comment | markdownify }}</p>
          <cite>
            <strong>
              <a href="#commentid-{{ ._id }}" title="Link to this comment">
                {{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}
              </a>
              <button id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">Reply to {{ .name     }}</button>
          </cite>
</blockquote>
{{ partial "comment-replies" (dict "entryId_parent" $slug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "context" .) }}
{{ end }}
    {{ end }}
{{end }}

  {{ if not $pageComments }}
        <p>Hey, be the first who comment this article.</p>
        {{ end }}
