{{ $slug := replace .RelPermalink "/" "" }}

{{/* Creating a slice holding your comments */}}
{{ $globalComments := slice }}

{{ $globalComments = index $.Site.Data.comments $slug }}


<!-- {{ $globalComments }} -->



{{/* Setting default to $pageComments */}}
{{ $pageComments := false }}

{{ with $globalComments }}
{{/* Storing their number in $pageComments */}}
{{ $pageComments = len . }}
{{/* Ranging on your comments */}}
{{ range . }}
{{ if not .reply_to }}
<div id="commentid-{{ ._id }}" class="post-comment">

  <span class="comment-name">{{ .name }}</span> •<span class="comment-link">
  <a href="#commentid-{{ ._id }}" title="Link to this comment"> <small>{{ dateFormat "02/01/2006" .date }}</small></a></span>
  <p>{{ .comment | markdownify }}</p>
  <button id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}'); focusInput()">Reply to {{ .name     }}</button>
</div>
<hr class="comment">
{{ partial "staticman/comment-replies" (dict "entryId_parent" $slug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "context" .) }}
{{ end }}
    {{ end }}
{{end }}

  {{ if not $pageComments }}
        <p>Hey, be the first who comment this article.</p>
        {{ end }}
