{{ $image := .Page.Resources.GetMatch (printf "%s" (.Get "src")) }}
{{ $small := $image.Resize "480x webp" }}
{{ $medium := $image.Resize "768x webp" }}
{{ $big := $image.Resize "1024x webp" }}
{{ $fallback := $image.Resize "768x" }}




{{- if .Get "link" -}}
<a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <img src="{{ $medium.RelPermalink }}" onerror="this.onerror=null; this.src='{{ $fallback.RelPermalink }}'"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
         sizes="100vw"
         srcset="{{ $small.RelPermalink }} 480w, {{ $medium.RelPermalink }} 768w, {{ $big.RelPermalink }} 1024w"
    /> <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                        {{- end -}}
                        {{- .Get "attr" | markdownify -}}
                        {{- if .Get "attrlink" }}</a>{{ end }}</p>
                    {{- end }}
        </figcaption>
        {{- end }}
</figure>
